<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- Set parallel="false" so that if both are uncommented, they run one after another on the same device. -->
<suite name="Appium Mobile Test Suite" parallel="false">

    <listeners>
        <listener class-name="utils.TestListener" />
        <listener class-name="utils.AnnotationTransformer" />
    </listeners>

    <!-- ========================================== -->
    <!-- MOTOR PRODUCT SUITE                        -->
    <!-- To disable Motor, comment out this block   -->
    <!-- ========================================== -->
    <test name="Motor Product Test">
        <parameter name="platformName" value="Android" />
        <parameter name="deviceName" value="Physical Device" />
        <parameter name="udid" value="" />
        <parameter name="appPackage" value="sa.com.tree.digital.insurance.uat" />
        <parameter name="appActivity" value="sa.com.tree.digital.insurance.MainActivity" />
        <classes>
            <class name="tests.SampleTest" />
            <class name="tests.NegativeValidationTest" />
        </classes>
    </test>

    <!-- ========================================== -->
    <!-- TRAVEL PRODUCT SUITE                       -->
    <!-- To disable Travel, comment out this block  -->
    <!-- ========================================== -->
    <test name="Travel Product Test">
        <parameter name="platformName" value="Android" />
        <parameter name="deviceName" value="Physical Device" />
        <parameter name="udid" value="" />
        <parameter name="appPackage" value="sa.com.tree.digital.insurance.uat" />
        <parameter name="appActivity" value="sa.com.tree.digital.insurance.MainActivity" />
        <classes>
            <class name="tests.TravelTest" />
        </classes>
    </test>

</suite>

